<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite Hai" verbose="1">
    <test name="Regression test with firfox brower">
        <parameter name="testNgBrowser" value="Firefox"></parameter>
        <classes>
          <class name="automation.testsuite.ClientTestFactory_Day15"/>
        </classes>
    </test>
    <test name="Regression test with chrome browser">
        <parameter name="testNgBrowser" value="Chrome"></parameter>
        <classes>
          <class name="automation.testsuite.ClientTestFactory_Day15"/>
        </classes>
    </test>    
     
</suite>
